.App {
  text-align: center;
}

body {
  background-color: "#282c34";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  border: solid green;
  overflow: hidden;
}

.o1 {
  height: 500px;
  width: 1000px;
  border: solid black;
}

.o2 {
  height: 500px;
  width: 1000px;
  border: solid black;
  overflow-y: scroll;
}
.o2::-webkit-scrollbar {
  display: none;
}

.Tech {
  display: flex;
  border: solid black;
  text-align: center;
}
.MongoDB,
.Express,
.React,
.NodeJS,
.HTML,
.CSS,
.Django,
.Python,
.PostGres {
  border: solid black;
  height: 50px;
  width: 200px;
}

.o3 {
  height: 500px;
  width: 1000px;
  border: solid black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fab, .fas
{
  margin-right:4%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
